<div class="filter-bar">
  <ul class="list-inline list-unstyled navbar-left">
    <li><a class="js-filter current" data-filter="*">all</a></li>
    <li><a class="js-filter" data-filter=".film">filmmaker</a></li>
    <li><a class="js-filter" data-filter=".code">programmer</a></li>
    <li><a class="js-filter" data-filter=".travel">wanderer</a></li>
  </ul>
  <ul class="list-inline list-unstyled navbar-right">
    <li><a class="js-filter" data-filter=".about">about</a></li>
    <li><a href="{{ site.baseurl }}/resume">resume</a></li>
  </ul>
</div>
