<div class="filter-bar">
  <ul class="list-inline list-unstyled navbar-left">
    <li class="js-filter-sidebar"><strong>Filter By:</strong></li>
    <li><a class="js-filter current" data-filter="*">All</a></li>
    <li><a class="js-filter" data-filter=".Producing">Producing</a></li>
    <li><a class="js-filter" data-filter=".Editing">Editing</a></li>
    <li><a class="js-filter" data-filter=".Coding">Coding</a></li>
  </ul>
  <ul class="list-inline list-unstyled navbar-right">
    <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
  </ul>
</div>
