<div class="filter-bar">
  <ul class="list-inline list-unstyled navbar-left">
    <li><a class="js-filter current" data-filter="*">all</a></li>
    <li><a class="js-filter" data-filter=".film">filmmaker</a></li>
    <li><a class="js-filter" data-filter=".code">programmer</a></li>
    <li><a class="js-filter" data-filter=".travel">wanderer</a></li>
  </ul>
  <ul class="list-inline list-unstyled navbar-right">
    <li><a class="js-filter" data-filter=".about">about</a></li>
    <li><a href="{{ site.baseurl }}/resume">resume</a></li>
    <li class="social"><a href="https://twitter.com/david_peterson" target="_blank"><i class="fa fa-twitter-square" alt="Twitter" title="Twitter"></i></a></li>
    <li class="social"><a href="https://www.linkedin.com/in/davidpetersonau" target="_blank"><i class="fa fa-linkedin-square" alt="LinkedIn" title="LinkedIn"></i></a></li>
    <li class="social"><a href="https://www.facebook.com/DavidPetersonAU/" target="_blank"><i class="fa fa-facebook-square" alt="Facebook" title="Facebook"></i></a></li>
    <li class="social"><a href="https://github.com/randomeizer" target="_blank"><i class="fa fa-github-square" alt="GitHub" title="GitHub"></i></a></li>
    <li class="social"><a href="mailto:david@petersonexpress.net"><i class="fa fa-envelope-square" alt="Email" title="Email"></i></a></li>
  </ul>
</div>
