<div id="topborder">
  <ul class="header-icons">
    <li><a href="https://twitter.com/david_peterson" target="_blank"><img src="{{ site.github.url }}/images/icons/twitter.png" alt="Twitter" title="Twitter"></a></li>
    <li><a href="https://www.linkedin.com/in/davidpetersonau" target="_blank"><img src="{{ site.github.url }}/images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn"></a></li>
    <li><a href="https://www.facebook.com/DavidPetersonAU/" target="_blank"><img src="{{ site.github.url }}/images/icons/facebook.png" alt="Facebook" title="Facebook"></a></li>
    <li><a href="https://github.com/randomeizer" target="_blank"><img src="{{ site.github.url }}/images/icons/github.png" alt="Github" title="Github"></a></li>
    <li class="text-link"><a href="mailto:david@petersonexpress.net" title="Get in touch"><b>David Peterson</b></a></li>
  </ul>
</div>

<div class="hero">
  <span class="noscript"><noscript>You have Javascript turned off. This site requires Javascript to be viewed properly</noscript></span>

  <div class="hero-text">David Peterson</div>

</div>

{% include filter-bar.html %}

{% comment %}
  {% include filter-sidebar.html %}
{% endcomment %}

<div id="filter-focus"></div>
